*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* text-align: justify; */
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    /* border: 1px solid red; */
}

body
{
    padding: 0px 50px;
    background-color: #1a1926;
}

header
{
    /* background-color: blanchedalmond; */
    margin-bottom: 200px;
}

.nav-bar
{
    background-color: #11101b;
    /* background-color: blue; */
    /* overflow: hidden; */
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0 50px;
    top: 0;

    font-size: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left
{
    color: #B9A3E3;
}

.nav-logo
{
    font-weight: bold;
    color: #B9A3E3;
    /* background-color: aquamarine; */
}

.nav-menu
{
    display: flex;
    gap: 40px;
    /* background-color: aquamarine; */
}

.nav-item
{
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-item:hover
{
    background-color: #B9A3E3;
    color: #11101b;
}

.panjang
{
    background-color: crimson;
    height: 1000px;
    
}

