body
{
    overflow: hidden;
}

.section1
{
    /* background-color: aqua; */
    margin-left: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
}


.section1 .title
{
    color: #B9A3E3;
    font-weight: bold;
    font-size: 60px;
}

.section1 .desc
{
    color: #ffffff;
    max-width: 600px;
}

.section1 img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #B9A3E3;
    margin-left: 50px;
    /* position: absolute;
    right: 400px; */
}

.circle-container
{
    position: absolute;
    bottom: -200;
    right: 100;
    width: 500px; /* Adjust the size of the circle */
    height: 500px; /* Same as width for a perfect circle */
    border-radius: 50%; /* Create a circular shape */
    background-color: #B9A3E3; /* Color of the circle */
    /* clip-path: polygon(100% 100%, 0 100%, 100% 0); */
}